# Explicit publication allowlist
*
!*/
!.gitignore
!/.gitattributes
!/.nojekyll
!/404.html
!/LICENSE
!/README.md
!/THIRD_PARTY_NOTICES.md
!/assets/favicon.svg
!/assets/fonts/Atkinson-Hyperlegible-OFL.txt
!/assets/fonts/Crimson-Pro-OFL.txt
!/assets/fonts/atkinson-hyperlegible-bold.woff2
!/assets/fonts/atkinson-hyperlegible-regular.woff2
!/assets/fonts/crimson-pro-roman.woff2
!/assets/style.css
!/index.html
!/licenses/minimal-light-CC0.txt
!/publications/classification_maximum_scattered_linear_sets_PG1q5.pdf
!/publications/covariogram-balancing.html
!/publications/covariogram-balancing.pdf
!/publications/index.html
!/publications/maximum-scattered-linear-sets-pg1q5.html
!/publications/online_resource_crypto.pdf
!/publications/sharp-closure-thresholds.html
!/publications/sharp_closure_thresholds_two_hidden_layer_relu_networks_v1.pdf
!/robots.txt
!/sitemap.xml
